{%extends 'shared/layout.html'%}

{%block conteudo%}

<h2>Ideias Malucas</h2>
<h3>Cadastre-se</h3>
{{msg}}
    <form action="" method="post">
        {% csrf_token %}
        <label>Nome</label>
        <input type="text" name="nome">

        <label>Sobrenome</label>
        <input type="text" name="sobrenome">

        <label>E-mail</label>
        <input type="text" name="email">

        <label>Gênero</label>
        <select name="genero">
            <option value="M">Masculino</option>
            <option value="F">Feminino</option>
            <option value="O">Outro</option>
        </select>

        <label>Biografia</label>
        <textarea name="biografia" cols="30" rows="10"></textarea>
        
        <label>Thanks for it!</label>
        <input type="submit" value="Cadastrar">
    </form>

<!-- {% include 'shared/teste.html'%} -->

{%endblock%}