{% extends 'shared/layout.html' %}
{% block conteudo %}

{{msg}}
<h1>Lista de ideias</h1>
<p>
        {% for ideia in ideias %}
                <p class="listinha">Nome: {{ideia.pessoa.nome}} Titulo: {{ideia.titulo}}</p>
                <!-- <p></p> -->
                <p class="listinha">Categoria: {{ideia.categorias}}</p>
                <p class="listinha">Descrição da Ideia: {{ideia.descricao}}</p>
                <hr>
                <a href="/deletar_ideia/{{ideia.id}}">
                <input type="button" value="Deletar"> </a>             
        {% endfor %}
</p>
<!-- {% include 'shared/teste.html'%} -->

{% endblock %}